# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# API/IDE
.vscode/
.idea/
*.swp

# Environnements virtuels
.venv/
env/
venv/

# Notebooks & temp
.ipynb_checkpoints/
*.checkpoint
*.bak

# OS
.DS_Store
Thumbs.db

# Secrets
*.env
*.pkl
*.h5